INSERT INTO posts (title, content, author, created_at)
VALUES
  ("Hello, World!", "This is my first blog post. I want to share my thoughts and experiences with the world.", "{{ author }}", NOW()),
  ("My Second Post", "This is my second blog post. I will be discussing some of my favorite hobbies and interests.", "{{ author }}", NOW()),
  ("A Third Post", "This is my third blog post. I will be talking about the current state of the world and my thoughts on the future.", "{{ author }}", NOW()),
  ("My Thoughts on Travel", "I love to travel and in this post, I want to share my experiences and tips for others.", "{{ author }}", NOW()),
  ("Foodie Adventures", "I am a foodie and in this post, I will be talking about my favorite restaurants and recipes.", "{{ author }}", NOW()),
  ("The Power of Music", "Music has the power to change the world and in this post, I will be discussing my favorite bands and songs.", "{{ author }}", NOW()),
  ("Life in the Big City", "I live in the city and in this post, I want to share my experiences and what I love about city life.", "{{ author }}", NOW()),
  ("The Great Outdoors", "I love nature and in this post, I will be discussing my favorite hiking trails and camping spots.", "{{ author }}", NOW()),
  ("A Love for Books", "I am an avid reader and in this post, I want to share my favorite books and authors.", "{{ author }}", NOW()),
  ("The Art of Photography", "I am a photographer and in this post, I will be talking about my favorite cameras and tips for taking great photos.", "{{ author }}", NOW());
